*{
  margin: 0px;
  padding: 0px;
}
body{
  position: relative;
  overflow: none;
}
.mainFont{
  font-family : Lora, serif;
  font-weight : 100;
  font-style : italic;
  margin: 0 20px 5px 20px;
}
#backgroundImage{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height : 100vh;
  width : 100%;
  background : url(/background.png) no-repeat;
  background-size : cover;
  animation: fadeUp 1000ms backwards;
  animation-delay: 2s;
}
.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
  width : auto;
}
.Card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
  background-color: white;
  box-shadow : 0 10px 20px rgb(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
  animation: fadeUp 1600ms backwards;
  animation-delay: 2.1s;
}
.shape{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 400;
  height: 140px;
  width: 140px;
  color: white;
  font-weight: bold;
  animation: shape 1450ms backwards;
}
.shape1{
  top: 0;
  left: 0;
  background-color : #fff;
  background-color: #61a5c3;
  transform-origin: top left;
  animation-delay: 800ms;
}
.shape2{
  border-top-right-radius: 100%;
  bottom: 0;
  left: 0;
  text-indent: -30px ;
  background-color : #b29dd3;
  transform-origin: bottom left;
}
.shape3{
  border-bottom-left-radius: 100%;
  top: 0;
  right: 0;
  text-indent: 50px;
  background-color : #ffbb73;
  transform-origin: top right;
}
.shape4{
  bottom: 0;
  right: 0;
  background-color: #b4d082;
  transform-origin: bottom right;
  animation-delay: 800ms;
}
div.overflowWrapper{
  overflow: hidden;
  font-size: 2.5rem;
  position: relative;
  height: 2.9rem;
  width: 365px;
}
.overflowWrapper{
  position: relative;
  display: flex;
  animation: fadeUp 1000ms backwards;
  animation-delay: 3s;
}
h1{
  font-size: 3.4rem;
  animation: fadeUp 1000ms backwards;
  animation-delay: 2.7s;
}
.titles{
  position: absolute;
  right: 0px;
  animation: wordSlide 13s infinite linear;
  color: #81ae52;
  animation-delay: 3s;
}
#DA{
  color: #7e55c0;
}
#CM{
  color: #925f28;
}
#AE{
  color: #ba1d1d;
}
#WD{
  color: #61a5c3;
}
.icons{
  height: 80px;
  width: 80px;
  margin: 10px;
}
.icons:hover{
  animation: rotateIcon 2.5s infinite linear;
}
.iconWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 15px;
  animation: fadeUp 1000ms backwards;
  animation-delay: 3.2s;
}
a{
  margin: 30px 20px 20px 20px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.hi{
  font-size: 2rem;
  margin: 20px 60px 0 0 ; 
  animation: fadeUp 1000ms backwards;
  animation-delay: 3.4s;
}

@media screen and (max-width: 447px ){
  h1{
    font-size: 2rem;
  } 
  div.overflowWrapper{
    font-size: 1.5rem;
    height: 1.8rem;
    width: 220px;
  }
  .titles{
    animation: wordSlideMobile 13s infinite linear;
    animation-delay: 3s;
  }
  
}
@media screen and (max-height: 400px){
  h1{
    font-size: 2rem;
  } 
  div.overflowWrapper{
    font-size: 1.5rem;
    height: 1.8rem;
    width: 220px;
  }
  .titles{
    animation: wordSlideMobile 13s infinite linear;
    animation-delay: 3s;
  }
} 
@keyframes wordSlide {
  0% {
      translate : 0px 76px;
  }
  4%{
    translate : 0 5px;
  }
  20%, 5% {
      translate : 0 2px;
  }
  23%{
    translate : 0 -50px;
  }
  25%, 40% {
      translate : 0 -45px;
  }
  44%{
    translate : 0 -95px;
  }
  45%, 60% {
      translate : 0 -91px;
  }
  64%{
    translate : 0 -142px;
  }
  65%, 80% {
      translate : 0 -138px;
  }
  84%{
    translate : 0 -188px;
  }
  85%, 95% {
      translate : 0 -184px;
  }
  100% {
      translate: 0 -260px;
  }
}
@keyframes wordSlideMobile {
  0% {
      translate : 0px 76px;
  }
  4%{
    translate: 0 5px;
  }
  20%, 5% {
      translate : 0 2px;
  }
  24%{
    translate: 0 -36px
  }
  25%, 40% {
      translate : 0 -31px;
  }
  44%{
    translate: 0 -63px;
  }
  45%, 60% {
      translate : 0 -58px;
  }
  64%{
    translate: 0 -93px;
  }
  65%, 80% {
      translate : 0 -90px;
  }
  84%{
    translate: 0 -127px;
  }
  85%, 95% {
      translate : 0 -120px;
  }
  100% {
      translate: 0 -160px;
  }
}
@keyframes shape{
  0%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(0);
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}@keyframes fadeUp{
  0%{
    translate: 0 40px;
    opacity: 0;
  }
  100%{
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes rotateIcon{
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}